/*INST630 Final Project-Stephani Moore/Rosie Yanosko-->
 Sparkling Creations CSS page for website */

body { 
    text-align: center;
    font-family: "Lucida Handwriting", "Monotype Corsiva", "Apple Chancery", serif;
    font-size: 22px;
    background-color: #dabaef;
    margin-top: 50px;
    width: 100%;
}

h1, h2 {
    text-align: center;
    font-family: "Lucida Handwriting", "Monotype Corsiva", "Apple Chancery", bold, serif;
    font-size: 35px;
    color: indigo;
    width: 100%;
}

a {
    font-family: "Lucida Handwriting", "Monotype Corsiva", "Apple Chancery", serif;
    font-size: 24px;
    text-decoration: none;
    color: indigo;
}

/* visited link */
a:visited {
    color: #4c2172;
}

/* mouse over link */
a:hover {
    color: #843cb7;
}

p {
    margin-top: 15px;
    margin-bottom: 30px;
}

input {
    padding: 6px 8px; 
    border: 2px solid indigo;
    margin-left: 10px;
    outline: none;
    border-radius: 3px;
}

input[type=text]:focus {
    border: 3px solid indigo;
}

textarea {
    font-family: "Lucida Handwriting", "Monotype Corsiva", "Apple Chancery", serif;
    font-size: 18px;
    height: 110px;
    width: 300px;
    padding: 6px 8px;
    border: 2px solid indigo;
    border-radius: 6px;
    resize: none;
    outline: none;
}

input[type=submit], input[type=reset] {
    font-family: "Lucida Handwriting", "Monotype Corsiva", "Apple Chancery", serif;
    font-size: 20px;
    background-color: indigo;
    border: none;
    color: white;
    padding: 10px 25px;
    margin: 4px 2px;
}

/* need to find another way to make the footer stick to the bottom */
.footer{
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 55px;
}

.photolinks {
    border: 2px solid indigo;
}

#banner {
    border: 2px solid indigo;
    margin-bottom: 30px;
    width: 100%;
}

table {
    border: 2px solid indigo;
}
